# Java / Maven
target/
*.class
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Spring Boot configs/secrets
.env
application.properties
application.yml

# OS files
.DS_Store
Thumbs.db

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/
